flask==2.0.1
numpy==1.18.0
python-dotenv==0.14.0
requests==2.25.1
line-bot-sdk==1.16.0
openai==1.35.10
tqdm==4.66.5
langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.37
langchain-openai==0.1.23
langchain-text-splitters==0.2.2
langsmith==0.1.108
SQLAlchemy==2.0.32
